@import "src/assets/styles/_variables.scss";

@font-face {
  font-family: 'Starcraft Normal';
  font-style: normal;
  font-weight: normal;
  src: url('../../../assets/fonts/Starcraft_Normal_FF.woff') format('woff');
}

.round {
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap-reverse;
}

.final {
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap-reverse;
  overflow: auto;
}


.loading-container {
  margin: auto;
  width: 50vw;
  height: 50vh;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-cont {
  height: 100%;
  max-width: 85vw;
  margin: auto;
  overflow: auto;

  .tabz {
    background-color: transparent;
    height: inherit;
  }

  table {

    min-width: 27%;
    background-color: $misty-background;

    td.mat-cell {
      font-size: 16px,
    }

    td.mat-cell .team-cont {
      display: flex;
      align-items: center;

      img {
        padding: 0 0.2em;
        height: 2em;
      }
    }

    .mat-cell,
    .mat-header-cell {
      color: white;
    }

    &:last-child {
      margin-top: 1em;
      border-style: solid;
      border-width: 0.15rem;
      border-color: $button-border;
    }


    th.mat-header-cell {
      text-transform: uppercase;
      font-family: 'Starcraft Normal', Fallback, sans-serif;
      font-size: 1rem;
      color: white;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: white;
    }
  }
}
