<mat-card class="matches-container">




  <!---<div class="center-container">
    <label class="center">harvested</label>
    <label class="center">army</label>
    <label class="center">killed</label>
    <label class="center">army</label>
    <label class="center">harvested</label>
  </div>




  <div class="single-match-container">
    <div class="team">
      <img src="../../../assets/images/zerg.png">
      <span>Zergboys</span>
    </div>
    <div class="center-container">
      <span>700 | 200</span>
      <span>700 | 200</span>
      <span>250 - 0</span>
      <span>700 | 200</span>
      <span>700 | 200</span>
    </div>
    <div class="team">
      <span>Zergboys</span>
      <img src="../../../assets/images/terran.png">
    </div>
  </div>
  <div class="single-match-container">
    <div class="team">
      <img src="../../../assets/images/zerg.png">
      <span>Proton</span>
    </div>
    <div class="center-container">
      <span>700 | 200</span>
      <span>700 | 200</span>
      <span>250 - 0</span>
      <span>700 | 200</span>
      <span>700 | 200</span>
    </div>
    <div class="team">
      <span>Zergboys</span>
      <img src="../../../assets/images/terran.png">
    </div>
  </div> -->

</mat-card>
