@import "src/assets/styles/_variables.scss";

@font-face {
  font-family: 'Starcraft Normal';
  font-style: normal;
  font-weight: normal;
  src: url('../../../assets/fonts/Starcraft_Normal_FF.woff') format('woff');
}

.matches-container {
  width: 65vw;
  margin: auto;
  height: 65vh;
  overflow: auto;

  .mat-table {
    width: 100%;

    .killed-col {
      font-weight: bold;
      box-shadow: $vip-box-shadow;
    }

    td.mat-cell .dual-cont {
      display: flex;
      align-items: center;
      justify-content: center;

      &.kill {
        justify-content: space-evenly;
      }

      .inner-dual-cont {
        display: flex;
        align-items: center;

        img {
          padding-right: 0.2em;
        }
      }
    }

    td.mat-cell .team-cont {
      display: flex;
      align-items: center;
      justify-content: center;

      &.winner {
        box-shadow: $vip-box-shadow;
        border-width: 2px;
        border-style: solid;
        border-color: $primary-golden;
        background-color: $secondary-golden
      }

      &.tie {
        border-width: 2px;
        border-style: dotted;
        border-color: $common-gray;
      }

      img {
        padding: 0 1em;
        height: 2em;
      }

      mat-icon {
        color: $common-gray;

        &:hover {
          color: $primary-golden;
          cursor: pointer;
        }
      }
    }

    th.mat-header-cell,
    td.mat-cell {
      text-align: center;
      border: 0;
    }

    th.mat-header-cell {
      text-transform: uppercase;
      font-family: 'Starcraft Normal', Fallback, sans-serif;
      font-size: 1rem;
      color: black;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: $common-gray;
    }
  }
}

// .center-container {
//   display: flex;
//   justify-content: center;

//   label {
//     text-transform: uppercase;
//     font-family: 'Starcraft Normal', Fallback, sans-serif;
//     padding: 0 1em;
//     text-decoration: underline
//   }

//   span {
//     // text-transform: uppercase;
//     font-family: 'Starcraft Normal', Fallback, sans-serif;
//     padding: 0 1em;
//   }

// }

// .team {
//   display: flex;
//   align-items: center;

//   img {
//     height: 2em;
//   }
// }

// .single-match-container {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   align-items: center;
// }
