@import "src/assets/styles/_variables.scss";

@font-face {
  font-family: 'Starcraft Normal';
  font-style: normal;
  font-weight: normal;
  src: url('../../../assets/fonts/Starcraft_Normal_FF.woff') format('woff');
}




.cont-buttons {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  @media screen and (min-width: 1400px) {
    flex-direction: row;
  }

  @media screen and (max-width: 1400px) {
    flex-direction: column;
  }

  button {
    overflow: hidden;
    min-height: 25%;
    color: $primary-golden;
    padding: 1rem;

    @media (max-width: 1400px) {
      min-width: 80%;
    }

    @media (min-width: 1401px) {
      min-width: 30%;
    }

    text-align: center;
    outline: none;
    cursor: pointer;
    background-color: $misty-background;
    border-style: solid;
    border-width: 0.15rem;
    font-family: 'Starcraft Normal',
    Fallback,
    sans-serif;
    font-size: $big-button-font-size;
    border-color: $button-border;

    &:hover {
      background-color: $secondary-golden
    }
  }
}
