@import "src/assets/styles/_variables.scss";

@font-face {
  font-family: 'Starcraft Normal';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Starcraft_Normal_FF.woff') format('woff');
}

.page {
  background-image: url(../assets/images/sc2-background.jpg);
  background-size: cover;
  height: 100vh;
  display: block;
}


.header {
  width: 100%;
  height: 30%;

  // display: flex;
  .current-time {
    // font-size: 5rem;
    font-family: 'Starcraft Normal', Fallback, sans-serif;
    font-size: $big-button-font-size;
    color: $button-border;
    padding: 1rem;
  }

  img {
    max-width: 200px;
    float: right;
    padding: 15px;
  }
}

.cont {
  height: 70%
}
