$primary-golden: #d8bf30;
$secondary-golden: rgba(216, 191, 48, 0.2);
$button-border: #a19810;
$common-gray: rgb(151, 148, 153);
$big-button-font-size: 5em;
$vip-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
0 8px 10px 1px rgba(0, 0, 0, 0.14),
0 3px 14px 2px rgba(0, 0, 0, 0.12);
